<option value="US"{if embed:country == "US"} selected{/if}>United States</option>		
			<option value="AF"{if embed:country == "AF"} selected{/if}>Afghanistan</option>
			<option value="AX"{if embed:country == "AX"} selected{/if}>Åland Islands</option>
			<option value="AL"{if embed:country == "AL"} selected{/if}>Albania</option>
			<option value="DZ"{if embed:country == "DZ"} selected{/if}>Algeria</option>
			<option value="AS"{if embed:country == "AS"} selected{/if}>American Samoa</option>
			<option value="AD"{if embed:country == "AD"} selected{/if}>Andorra</option>
			<option value="AO"{if embed:country == "AO"} selected{/if}>Angola</option>
			<option value="AI"{if embed:country == "AI"} selected{/if}>Anguilla</option>
			<option value="AQ"{if embed:country == "AQ"} selected{/if}>Antarctica</option>
			<option value="AG"{if embed:country == "AG"} selected{/if}>Antigua and Barbuda</option>
			<option value="AR"{if embed:country == "AR"} selected{/if}>Argentina</option>
			<option value="AM"{if embed:country == "AM"} selected{/if}>Armenia</option>
			<option value="AW"{if embed:country == "AW"} selected{/if}>Aruba</option>
			<option value="AU"{if embed:country == "AU"} selected{/if}>Australia</option>
			<option value="AT"{if embed:country == "AT"} selected{/if}>Austria</option>
			<option value="AZ"{if embed:country == "AZ"} selected{/if}>Azerbaijan</option>
			<option value="BS"{if embed:country == "BS"} selected{/if}>Bahamas</option>
			<option value="BH"{if embed:country == "BH"} selected{/if}>Bahrain</option>
			<option value="BD"{if embed:country == "BD"} selected{/if}>Bangladesh</option>
			<option value="BB"{if embed:country == "BB"} selected{/if}>Barbados</option>
			<option value="BY"{if embed:country == "BY"} selected{/if}>Belarus</option>
			<option value="BE"{if embed:country == "BE"} selected{/if}>Belgium</option>
			<option value="BZ"{if embed:country == "BZ"} selected{/if}>Belize</option>
			<option value="BJ"{if embed:country == "BJ"} selected{/if}>Benin</option>
			<option value="BM"{if embed:country == "BM"} selected{/if}>Bermuda</option>
			<option value="BT"{if embed:country == "BT"} selected{/if}>Bhutan</option>
			<option value="BO"{if embed:country == "BO"} selected{/if}>Bolivia, Plurinational State of</option>
			<option value="BQ"{if embed:country == "BQ"} selected{/if}>Bonaire, Sint Eustatius and Saba</option>
			<option value="BA"{if embed:country == "BA"} selected{/if}>Bosnia and Herzegovina</option>
			<option value="BW"{if embed:country == "BW"} selected{/if}>Botswana</option>
			<option value="BV"{if embed:country == "BV"} selected{/if}>Bouvet Island</option>
			<option value="BR"{if embed:country == "BR"} selected{/if}>Brazil</option>
			<option value="IO"{if embed:country == "IO"} selected{/if}>British Indian Ocean Territory</option>
			<option value="BN"{if embed:country == "BN"} selected{/if}>Brunei Darussalam</option>
			<option value="BG"{if embed:country == "BG"} selected{/if}>Bulgaria</option>
			<option value="BF"{if embed:country == "BF"} selected{/if}>Burkina Faso</option>
			<option value="BI"{if embed:country == "BI"} selected{/if}>Burundi</option>
			<option value="KH"{if embed:country == "KH"} selected{/if}>Cambodia</option>
			<option value="CM"{if embed:country == "CM"} selected{/if}>Cameroon</option>
			<option value="CA"{if embed:country == "CA"} selected{/if}>Canada</option>
			<option value="CV"{if embed:country == "CV"} selected{/if}>Cape Verde</option>
			<option value="KY"{if embed:country == "KY"} selected{/if}>Cayman Islands</option>
			<option value="CF"{if embed:country == "CF"} selected{/if}>Central African Republic</option>
			<option value="TD"{if embed:country == "TD"} selected{/if}>Chad</option>
			<option value="CL"{if embed:country == "CL"} selected{/if}>Chile</option>
			<option value="CN"{if embed:country == "CN"} selected{/if}>China</option>
			<option value="CX"{if embed:country == "CX"} selected{/if}>Christmas Island</option>
			<option value="CC"{if embed:country == "CC"} selected{/if}>Cocos (Keeling) Islands</option>
			<option value="CO"{if embed:country == "CO"} selected{/if}>Colombia</option>
			<option value="KM"{if embed:country == "KM"} selected{/if}>Comoros</option>
			<option value="CG"{if embed:country == "CG"} selected{/if}>Congo</option>
			<option value="CD"{if embed:country == "CD"} selected{/if}>Congo, the Democratic Republic of the</option>
			<option value="CK"{if embed:country == "CK"} selected{/if}>Cook Islands</option>
			<option value="CR"{if embed:country == "CR"} selected{/if}>Costa Rica</option>
			<option value="CI"{if embed:country == "CI"} selected{/if}>Côte d'Ivoire</option>
			<option value="HR"{if embed:country == "HR"} selected{/if}>Croatia</option>
			<option value="CU"{if embed:country == "CU"} selected{/if}>Cuba</option>
			<option value="CW"{if embed:country == "CW"} selected{/if}>Curaçao</option>
			<option value="CY"{if embed:country == "CY"} selected{/if}>Cyprus</option>
			<option value="CZ"{if embed:country == "CZ"} selected{/if}>Czech Republic</option>
			<option value="DK"{if embed:country == "DK"} selected{/if}>Denmark</option>
			<option value="DJ"{if embed:country == "DJ"} selected{/if}>Djibouti</option>
			<option value="DM"{if embed:country == "DM"} selected{/if}>Dominica</option>
			<option value="DO"{if embed:country == "DO"} selected{/if}>Dominican Republic</option>
			<option value="EC"{if embed:country == "EC"} selected{/if}>Ecuador</option>
			<option value="EG"{if embed:country == "EG"} selected{/if}>Egypt</option>
			<option value="SV"{if embed:country == "SV"} selected{/if}>El Salvador</option>
			<option value="GQ"{if embed:country == "GQ"} selected{/if}>Equatorial Guinea</option>
			<option value="ER"{if embed:country == "ER"} selected{/if}>Eritrea</option>
			<option value="EE"{if embed:country == "EE"} selected{/if}>Estonia</option>
			<option value="ET"{if embed:country == "ET"} selected{/if}>Ethiopia</option>
			<option value="FK"{if embed:country == "FK"} selected{/if}>Falkland Islands (Malvinas)</option>
			<option value="FO"{if embed:country == "FO"} selected{/if}>Faroe Islands</option>
			<option value="FJ"{if embed:country == "FJ"} selected{/if}>Fiji</option>
			<option value="FI"{if embed:country == "FI"} selected{/if}>Finland</option>
			<option value="FR"{if embed:country == "FR"} selected{/if}>France</option>
			<option value="GF"{if embed:country == "GF"} selected{/if}>French Guiana</option>
			<option value="PF"{if embed:country == "PF"} selected{/if}>French Polynesia</option>
			<option value="TF"{if embed:country == "TF"} selected{/if}>French Southern Territories</option>
			<option value="GA"{if embed:country == "GA"} selected{/if}>Gabon</option>
			<option value="GM"{if embed:country == "GM"} selected{/if}>Gambia</option>
			<option value="GE"{if embed:country == "GE"} selected{/if}>Georgia</option>
			<option value="DE"{if embed:country == "DE"} selected{/if}>Germany</option>
			<option value="GH"{if embed:country == "GH"} selected{/if}>Ghana</option>
			<option value="GI"{if embed:country == "GI"} selected{/if}>Gibraltar</option>
			<option value="GR"{if embed:country == "GR"} selected{/if}>Greece</option>
			<option value="GL"{if embed:country == "GL"} selected{/if}>Greenland</option>
			<option value="GD"{if embed:country == "GD"} selected{/if}>Grenada</option>
			<option value="GP"{if embed:country == "GP"} selected{/if}>Guadeloupe</option>
			<option value="GU"{if embed:country == "GU"} selected{/if}>Guam</option>
			<option value="GT"{if embed:country == "GT"} selected{/if}>Guatemala</option>
			<option value="GG"{if embed:country == "GG"} selected{/if}>Guernsey</option>
			<option value="GN"{if embed:country == "GN"} selected{/if}>Guinea</option>
			<option value="GW"{if embed:country == "GW"} selected{/if}>Guinea-Bissau</option>
			<option value="GY"{if embed:country == "GY"} selected{/if}>Guyana</option>
			<option value="HT"{if embed:country == "HT"} selected{/if}>Haiti</option>
			<option value="HM"{if embed:country == "HM"} selected{/if}>Heard Island and McDonald Islands</option>
			<option value="VA"{if embed:country == "VA"} selected{/if}>Holy See (Vatican City State)</option>
			<option value="HN"{if embed:country == "HN"} selected{/if}>Honduras</option>
			<option value="HK"{if embed:country == "HK"} selected{/if}>Hong Kong</option>
			<option value="HU"{if embed:country == "HU"} selected{/if}>Hungary</option>
			<option value="IS"{if embed:country == "IS"} selected{/if}>Iceland</option>
			<option value="IN"{if embed:country == "IN"} selected{/if}>India</option>
			<option value="ID"{if embed:country == "ID"} selected{/if}>Indonesia</option>
			<option value="IR"{if embed:country == "IR"} selected{/if}>Iran, Islamic Republic of</option>
			<option value="IQ"{if embed:country == "IQ"} selected{/if}>Iraq</option>
			<option value="IE"{if embed:country == "IE"} selected{/if}>Ireland</option>
			<option value="IM"{if embed:country == "IM"} selected{/if}>Isle of Man</option>
			<option value="IL"{if embed:country == "IL"} selected{/if}>Israel</option>
			<option value="IT"{if embed:country == "IT"} selected{/if}>Italy</option>
			<option value="JM"{if embed:country == "JM"} selected{/if}>Jamaica</option>
			<option value="JP"{if embed:country == "JP"} selected{/if}>Japan</option>
			<option value="JE"{if embed:country == "JE"} selected{/if}>Jersey</option>
			<option value="JO"{if embed:country == "JO"} selected{/if}>Jordan</option>
			<option value="KZ"{if embed:country == "KZ"} selected{/if}>Kazakhstan</option>
			<option value="KE"{if embed:country == "KE"} selected{/if}>Kenya</option>
			<option value="KI"{if embed:country == "KI"} selected{/if}>Kiribati</option>
			<option value="KP"{if embed:country == "KP"} selected{/if}>Korea, Democratic People's Republic of</option>
			<option value="KR"{if embed:country == "KR"} selected{/if}>Korea, Republic of</option>
			<option value="KW"{if embed:country == "KW"} selected{/if}>Kuwait</option>
			<option value="KG"{if embed:country == "KG"} selected{/if}>Kyrgyzstan</option>
			<option value="LA"{if embed:country == "LA"} selected{/if}>Lao People's Democratic Republic</option>
			<option value="LV"{if embed:country == "LV"} selected{/if}>Latvia</option>
			<option value="LB"{if embed:country == "LB"} selected{/if}>Lebanon</option>
			<option value="LS"{if embed:country == "LS"} selected{/if}>Lesotho</option>
			<option value="LR"{if embed:country == "LR"} selected{/if}>Liberia</option>
			<option value="LY"{if embed:country == "LY"} selected{/if}>Libya</option>
			<option value="LI"{if embed:country == "LI"} selected{/if}>Liechtenstein</option>
			<option value="LT"{if embed:country == "LT"} selected{/if}>Lithuania</option>
			<option value="LU"{if embed:country == "LU"} selected{/if}>Luxembourg</option>
			<option value="MO"{if embed:country == "MO"} selected{/if}>Macao</option>
			<option value="MK"{if embed:country == "MK"} selected{/if}>Macedonia, the former Yugoslav Republic of</option>
			<option value="MG"{if embed:country == "MG"} selected{/if}>Madagascar</option>
			<option value="MW"{if embed:country == "MW"} selected{/if}>Malawi</option>
			<option value="MY"{if embed:country == "MY"} selected{/if}>Malaysia</option>
			<option value="MV"{if embed:country == "MV"} selected{/if}>Maldives</option>
			<option value="ML"{if embed:country == "ML"} selected{/if}>Mali</option>
			<option value="MT"{if embed:country == "MT"} selected{/if}>Malta</option>
			<option value="MH"{if embed:country == "MH"} selected{/if}>Marshall Islands</option>
			<option value="MQ"{if embed:country == "MQ"} selected{/if}>Martinique</option>
			<option value="MR"{if embed:country == "MR"} selected{/if}>Mauritania</option>
			<option value="MU"{if embed:country == "MU"} selected{/if}>Mauritius</option>
			<option value="YT"{if embed:country == "YT"} selected{/if}>Mayotte</option>
			<option value="MX"{if embed:country == "MX"} selected{/if}>Mexico</option>
			<option value="FM"{if embed:country == "FM"} selected{/if}>Micronesia, Federated States of</option>
			<option value="MD"{if embed:country == "MD"} selected{/if}>Moldova, Republic of</option>
			<option value="MC"{if embed:country == "MC"} selected{/if}>Monaco</option>
			<option value="MN"{if embed:country == "MN"} selected{/if}>Mongolia</option>
			<option value="ME"{if embed:country == "ME"} selected{/if}>Montenegro</option>
			<option value="MS"{if embed:country == "MS"} selected{/if}>Montserrat</option>
			<option value="MA"{if embed:country == "MA"} selected{/if}>Morocco</option>
			<option value="MZ"{if embed:country == "MZ"} selected{/if}>Mozambique</option>
			<option value="MM"{if embed:country == "MM"} selected{/if}>Myanmar</option>
			<option value="NA"{if embed:country == "NA"} selected{/if}>Namibia</option>
			<option value="NR"{if embed:country == "NR"} selected{/if}>Nauru</option>
			<option value="NP"{if embed:country == "NP"} selected{/if}>Nepal</option>
			<option value="NL"{if embed:country == "NL"} selected{/if}>Netherlands</option>
			<option value="NC"{if embed:country == "NC"} selected{/if}>New Caledonia</option>
			<option value="NZ"{if embed:country == "NZ"} selected{/if}>New Zealand</option>
			<option value="NI"{if embed:country == "NI"} selected{/if}>Nicaragua</option>
			<option value="NE"{if embed:country == "NE"} selected{/if}>Niger</option>
			<option value="NG"{if embed:country == "NI"} selected{/if}>Nigeria</option>
			<option value="NU"{if embed:country == "NU"} selected{/if}>Niue</option>
			<option value="NF"{if embed:country == "NF"} selected{/if}>Norfolk Island</option>
			<option value="MP"{if embed:country == "MP"} selected{/if}>Northern Mariana Islands</option>
			<option value="NO"{if embed:country == "NO"} selected{/if}>Norway</option>
			<option value="OM"{if embed:country == "OM"} selected{/if}>Oman</option>
			<option value="PK"{if embed:country == "PK"} selected{/if}>Pakistan</option>
			<option value="PW"{if embed:country == "PW"} selected{/if}>Palau</option>
			<option value="PS"{if embed:country == "PS"} selected{/if}>Palestinian Territory, Occupied</option>
			<option value="PA"{if embed:country == "PA"} selected{/if}>Panama</option>
			<option value="PG"{if embed:country == "PG"} selected{/if}>Papua New Guinea</option>
			<option value="PY"{if embed:country == "PY"} selected{/if}>Paraguay</option>
			<option value="PE"{if embed:country == "PE"} selected{/if}>Peru</option>
			<option value="PH"{if embed:country == "PH"} selected{/if}>Philippines</option>
			<option value="PN"{if embed:country == "PN"} selected{/if}>Pitcairn</option>
			<option value="PL"{if embed:country == "PL"} selected{/if}>Poland</option>
			<option value="PT"{if embed:country == "PT"} selected{/if}>Portugal</option>
			<option value="PR"{if embed:country == "PR"} selected{/if}>Puerto Rico</option>
			<option value="QA"{if embed:country == "QA"} selected{/if}>Qatar</option>
			<option value="RE"{if embed:country == "RE"} selected{/if}>Réunion</option>
			<option value="RO"{if embed:country == "RO"} selected{/if}>Romania</option>
			<option value="RU"{if embed:country == "RU"} selected{/if}>Russian Federation</option>
			<option value="RW"{if embed:country == "RW"} selected{/if}>Rwanda</option>
			<option value="BL"{if embed:country == "BL"} selected{/if}>Saint Barthélemy</option>
			<option value="SH"{if embed:country == "SH"} selected{/if}>Saint Helena, Ascension and Tristan da Cunha</option>
			<option value="KN"{if embed:country == "KN"} selected{/if}>Saint Kitts and Nevis</option>
			<option value="LC"{if embed:country == "LC"} selected{/if}>Saint Lucia</option>
			<option value="MF"{if embed:country == "MF"} selected{/if}>Saint Martin (French part)</option>
			<option value="PM"{if embed:country == "PM"} selected{/if}>Saint Pierre and Miquelon</option>
			<option value="VC"{if embed:country == "VC"} selected{/if}>Saint Vincent and the Grenadines</option>
			<option value="WS"{if embed:country == "WS"} selected{/if}>Samoa</option>
			<option value="SM"{if embed:country == "SM"} selected{/if}>San Marino</option>
			<option value="ST"{if embed:country == "ST"} selected{/if}>Sao Tome and Principe</option>
			<option value="SA"{if embed:country == "SA"} selected{/if}>Saudi Arabia</option>
			<option value="SN"{if embed:country == "SN"} selected{/if}>Senegal</option>
			<option value="RS"{if embed:country == "RS"} selected{/if}>Serbia</option>
			<option value="SC"{if embed:country == "SC"} selected{/if}>Seychelles</option>
			<option value="SL"{if embed:country == "SL"} selected{/if}>Sierra Leone</option>
			<option value="SG"{if embed:country == "SG"} selected{/if}>Singapore</option>
			<option value="SX"{if embed:country == "SX"} selected{/if}>Sint Maarten (Dutch part)</option>
			<option value="SK"{if embed:country == "SK"} selected{/if}>Slovakia</option>
			<option value="SI"{if embed:country == "SI"} selected{/if}>Slovenia</option>
			<option value="SB"{if embed:country == "SB"} selected{/if}>Solomon Islands</option>
			<option value="SO"{if embed:country == "SO"} selected{/if}>Somalia</option>
			<option value="ZA"{if embed:country == "ZA"} selected{/if}>South Africa</option>
			<option value="GS"{if embed:country == "GS"} selected{/if}>South Georgia and the South Sandwich Islands</option>
			<option value="SS"{if embed:country == "SS"} selected{/if}>South Sudan</option>
			<option value="ES"{if embed:country == "ES"} selected{/if}>Spain</option>
			<option value="LK"{if embed:country == "LK"} selected{/if}>Sri Lanka</option>
			<option value="SD"{if embed:country == "SD"} selected{/if}>Sudan</option>
			<option value="SR"{if embed:country == "SR"} selected{/if}>Suriname</option>
			<option value="SJ"{if embed:country == "SJ"} selected{/if}>Svalbard and Jan Mayen</option>
			<option value="SZ"{if embed:country == "SZ"} selected{/if}>Swaziland</option>
			<option value="SE"{if embed:country == "SE"} selected{/if}>Sweden</option>
			<option value="CH"{if embed:country == "CH"} selected{/if}>Switzerland</option>
			<option value="SY"{if embed:country == "SY"} selected{/if}>Syrian Arab Republic</option>
			<option value="TW"{if embed:country == "TW"} selected{/if}>Taiwan, Province of China</option>
			<option value="TJ"{if embed:country == "TJ"} selected{/if}>Tajikistan</option>
			<option value="TZ"{if embed:country == "TZ"} selected{/if}>Tanzania, United Republic of</option>
			<option value="TH"{if embed:country == "TH"} selected{/if}>Thailand</option>
			<option value="TL"{if embed:country == "TL"} selected{/if}>Timor-Leste</option>
			<option value="TG"{if embed:country == "TG"} selected{/if}>Togo</option>
			<option value="TK"{if embed:country == "TK"} selected{/if}>Tokelau</option>
			<option value="TO"{if embed:country == "TO"} selected{/if}>Tonga</option>
			<option value="TT"{if embed:country == "TT"} selected{/if}>Trinidad and Tobago</option>
			<option value="TN"{if embed:country == "TN"} selected{/if}>Tunisia</option>
			<option value="TR"{if embed:country == "TR"} selected{/if}>Turkey</option>
			<option value="TM"{if embed:country == "TM"} selected{/if}>Turkmenistan</option>
			<option value="TC"{if embed:country == "TC"} selected{/if}>Turks and Caicos Islands</option>
			<option value="TV"{if embed:country == "TV"} selected{/if}>Tuvalu</option>
			<option value="UG"{if embed:country == "UG"} selected{/if}>Uganda</option>
			<option value="UA"{if embed:country == "UA"} selected{/if}>Ukraine</option>
			<option value="AE"{if embed:country == "AE"} selected{/if}>United Arab Emirates</option>
			<option value="GB"{if embed:country == "GB"} selected{/if}>United Kingdom</option>
			<option value="UM"{if embed:country == "UM"} selected{/if}>United States Minor Outlying Islands</option>
			<option value="UY"{if embed:country == "UY"} selected{/if}>Uruguay</option>
			<option value="UZ"{if embed:country == "UZ"} selected{/if}>Uzbekistan</option>
			<option value="VU"{if embed:country == "VU"} selected{/if}>Vanuatu</option>
			<option value="VE"{if embed:country == "VE"} selected{/if}>Venezuela, Bolivarian Republic of</option>
			<option value="VN"{if embed:country == "VN"} selected{/if}>Viet Nam</option>
			<option value="VG"{if embed:country == "VG"} selected{/if}>Virgin Islands, British</option>
			<option value="VI"{if embed:country == "VI"} selected{/if}>Virgin Islands, U.S.</option>
			<option value="WF"{if embed:country == "WF"} selected{/if}>Wallis and Futuna</option>
			<option value="EH"{if embed:country == "EH"} selected{/if}>Western Sahara</option>
			<option value="YE"{if embed:country == "YE"} selected{/if}>Yemen</option>
			<option value="ZM"{if embed:country == "ZM"} selected{/if}>Zambia</option>
			<option value="ZW"{if embed:country == "ZW"} selected{/if}>Zimbabwe</option>