<option value="AL"{if embed:state == "AL"} selected{/if}>Alabama</option>
                    <option value="AK"{if embed:state == "AK"} selected{/if}>Alaska</option>
                    <option value="AZ"{if embed:state == "AZ"} selected{/if}>Arizona</option>
                    <option value="AR"{if embed:state == "AR"} selected{/if}>Arkansas</option>
                    <option value="CA"{if embed:state == "CA"} selected{/if}>California</option>
                    <option value="CO"{if embed:state == "CO"} selected{/if}>Colorado</option>
                    <option value="CT"{if embed:state == "CT"} selected{/if}>Connecticut</option>
                    <option value="DE"{if embed:state == "DE"} selected{/if}>Delaware</option>
                    <option value="DC"{if embed:state == "DC"} selected{/if}>District of Columbia</option>
                    <option value="FL"{if embed:state == "FL"} selected{/if}>Florida</option>
                    <option value="GA"{if embed:state == "GA"} selected{/if}>Georgia</option>
                    <option value="HI"{if embed:state == "HI"} selected{/if}>Hawaii</option>
                    <option value="ID"{if embed:state == "ID"} selected{/if}>Idaho</option>
                    <option value="IL"{if embed:state == "IL"} selected{/if}>Illinois</option>
                    <option value="IN"{if embed:state == "IN"} selected{/if}>Indiana</option>
                    <option value="IA"{if embed:state == "IA"} selected{/if}>Iowa</option>
                    <option value="KS"{if embed:state == "KS"} selected{/if}>Kansas</option>
                    <option value="KY"{if embed:state == "KY"} selected{/if}>Kentucky</option>
                    <option value="LA"{if embed:state == "LA"} selected{/if}>Louisiana</option>
                    <option value="ME"{if embed:state == "ME"} selected{/if}>Maine</option>
                    <option value="MD"{if embed:state == "MD"} selected{/if}>Maryland</option>
                    <option value="MA"{if embed:state == "MA"} selected{/if}>Massachusetts</option>
                    <option value="MI"{if embed:state == "MI"} selected{/if}>Michigan</option>
                    <option value="MN"{if embed:state == "MN"} selected{/if}>Minnesota</option>
                    <option value="MS"{if embed:state == "MS"} selected{/if}>Mississippi</option>
                    <option value="MO"{if embed:state == "MO"} selected{/if}>Missouri</option>
                    <option value="MT"{if embed:state == "MT"} selected{/if}>Montana</option>
                    <option value="NE"{if embed:state == "NE"} selected{/if}>Nebraska</option>
                    <option value="NV"{if embed:state == "NV"} selected{/if}>Nevada</option>
                    <option value="NH"{if embed:state == "NH"} selected{/if}>New Hampshire</option>
                    <option value="NJ"{if embed:state == "NJ"} selected{/if}>New Jersey</option>
                    <option value="NM"{if embed:state == "NM"} selected{/if}>New Mexico</option>
                    <option value="NY"{if embed:state == "NY"} selected{/if}>New York</option>
                    <option value="NC"{if embed:state == "NC"} selected{/if}>North Carolina</option>
                    <option value="ND"{if embed:state == "ND"} selected{/if}>North Dakota</option>
                    <option value="OH"{if embed:state == "OH"} selected{/if}>Ohio</option>
                    <option value="OK"{if embed:state == "OK"} selected{/if}>Oklahoma</option>
                    <option value="OR"{if embed:state == "OR"} selected{/if}>Oregon</option>
                    <option value="PA"{if embed:state == "PA"} selected{/if}>Pennsylvania</option>
                    <option value="RI"{if embed:state == "RI"} selected{/if}>Rhode Island</option>
                    <option value="SC"{if embed:state == "SC"} selected{/if}>South Carolina</option>
                    <option value="SD"{if embed:state == "SD"} selected{/if}>South Dakota</option>
                    <option value="TN"{if embed:state == "TN"} selected{/if}>Tennessee</option>
                    <option value="TX"{if embed:state == "TX"} selected{/if}>Texas</option>
                    <option value="UT"{if embed:state == "UT"} selected{/if}>Utah</option>
                    <option value="VT"{if embed:state == "VT"} selected{/if}>Vermont</option>
                    <option value="VA"{if embed:state == "VA"} selected{/if}>Virginia</option>
                    <option value="WA"{if embed:state == "WA"} selected{/if}>Washington</option>
                    <option value="WV"{if embed:state == "WV"} selected{/if}>West Virginia</option>
                    <option value="WI"{if embed:state == "WI"} selected{/if}>Wisconsin</option>
                    <option value="WY"{if embed:state == "WY"} selected{/if}>Wyoming</option>