<!DOCTYPE html>
<html lang="en">
<head>
	<title>{title}</title>
	{meta_refresh}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="http://www.omahamediagroup.com" id="Designed by" title="Omaha Media Group an Omaha, Nebraska Web Design Company" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" href="https://v4wu8f00-a.akamaihd.net/vendor/bootstrap4/css/bootstrap.min.css" />
</head>

<body role="document">

	<!--website designed by Omaha Media Group LLC - All Rights Reserved | www.omahamediagroup.com | support@omahamediagroup.com | 402.218.4423-->

	<!--lets get it started, lets get it started in here-->
	
	<div class="container" role="main">
	  <div class="row">
		<div class="col-md-12">
		  <div class="card bg-light mt-5 mb-5">
			<h5 class="card-header"><b>{heading}</b></h5>
			<div class="card-body">
			  {content}
			</div>
			<div class="card-footer">{link}</div>
		  </div>
		</div>
	  </div>
	</div>

	<!--thats all folks, thanks for playing-->

</body>
</html>
