<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>System Maintenance</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<link href="https://www.omahamediagroup.com" id="Designed by" title="Omaha Media Group an Omaha, Nebraska Web Design Company" />
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="stylesheet" href="https://v4wu8f00-a.akamaihd.net/omg/mobile-legacy/css/style.css" type="text/css" media="all" />
	<script src="https://v4wu8f00-a.akamaihd.net/omg/mobile-legacy/js/modernizr.js"></script>
</head>

<body class="system-message">
<div class="wrapper">

	<div class="wrapper-content">
		<header class="header">
			<h1 class="logo">
				<a class="logo-service">Omaha Media Group</a>
			</h1>
		</header>
		<!-- /.header -->

		<div class="main">
			<section class="section-aboutus">
				<div class="section-head">
					<h3>System Maintenance</h3>
				</div>
				<!-- /.section-head -->

				<div class="section-body">
					<h4>We are doing some routine system maintenance and will be back up and running shortly.</h4>
					<br />
					<p>Please check back soon!</p>
					  
				</div>
				<!-- /.section-body -->
				
			</section>
			<!-- /.section-aboutus -->
		</div>
		<!-- /.main -->

		<footer class="footer">

			<p class="copyright">&copy; Copyright - All Rights Reserved. Powered by <a href="https://www.omahamediagroup.com">Omaha Media Group LLC</a></p>
			<!-- /.copyright -->
		</footer>
		<!-- /.footer -->
	</div>
	<!-- /.wrapper-content -->
</div>
<!-- /.wrapper -->

</body>
</html>

